body
{
    background-color: rgb(242, 244, 244);
}
input
{
    width: 14rem;
    height: 2.2rem;
    border-radius: 0.3rem;
}
.up
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
button
{
    width: 4rem;
    height: 2.3rem;
    border-radius: 0.2rem;
    background-color: rgb(32, 205, 235);
    border: none;
    cursor: pointer;
}
.data
{
    display: flex;
    justify-content: center;
}
.output img
{
    padding-top: 0.6rem;
    width: 6rem;
    height: 6rem;
}
.output
{
    width: 23rem;
    height: 20rem;
    border: 0.01rem solid black;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    border-radius: 0.3rem;
}
#hea
{
    color: white;
    font-size: 2.7rem;
    font-family: sans-serif;
}
#cit
{
    color: white;
    font-size: 1.4rem;
    text-align: center;
    font-family: sans-serif;
}