body
{
    background-color: rgb(242, 244, 244);
}
input
{
    width: 14rem;
    height: 2.2rem;
    border-radius: 0.3rem;
}
.up
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
button
{
    width: 4rem;
    height: 2.3rem;
    border-radius: 0.2rem;
    background-color: rgb(32, 205, 235);
    border: none;
    cursor: pointer;
}
.data
{
    display: flex;
    justify-content: center;
}
.weaImg img
{
    padding-top: 0.6rem;
    width: 5rem;
    height: 5rem;
}
.output
{
    width: 23rem;
    height: 25rem;
    border: 0.01rem solid black;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    border-radius: 0.3rem;
}
#hea
{
    color: white;
    font-size: 2.3rem;
    font-family: sans-serif;
    height: 1.3rem;
}
#cit
{
    color: white;
    font-size: 1rem;
    text-align: center;
    font-family: sans-serif;
    height: 0.9rem;
}
#dat
{
    margin-top: 0.2rem;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    font-family: sans-serif;
    height: 0.9rem;
}
.area1,
.area2
{
    width: 100%;
    height: 7rem;
    display: flex;
}
.feelsLike,
.wind,
.humidity,
.pressure
{
    width: 50%;
    height: 6rem;
}
.feelsLike img,
.wind img,
.humidity img,
.pressure img
{
    width: 3.5rem;
    height: 3.5rem;
}
.feelFont,
.windFont,
.humidityFont,
.pressureFont
{
    padding-top: 0.2rem;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: sans-serif;
    padding-right: 0.9rem;
}
.feelOutput,
.windOutput,
.humidityOutput,
.pressureOutput
{
    padding-right: 0.9rem;
    margin-top: 0.2rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-family: sans-serif;
    height: 1rem;
}
